* {
    box-sizing: border-box;
}
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: "Comfortaa", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul>li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  .wrapper{
    min-height: 100%;
    width: 1130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 450px;
    top: 0;
    overflow: hidden;
    position: relative;
  }

  .container {
    /* max-width: 1130px; */
    padding: 0px 5px;
    margin: 0 auto;
  }

  .header {
  background-color: #fff8df;
  padding-top: 16px;
  line-height: 1.13;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
  }  

  .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    column-gap: 10px;
  }

  
.nav__list {
  display: flex;
  column-gap: 36px;
}

.nav__item {
  border-bottom: 2px solid transparent;
}

.nav__item.active {
  border-bottom: 2px solid #a99759;
}

.nav__link {
  font-size: 16px;
  line-height: 1.13;
  color: rgb(152, 132, 0);
}

.hero {  
  width: 1130px;
  margin-top: 24px;
  height: 90vh;
  padding-top: 272px;
  padding-bottom: 50px;
}

.hero__container {
  flex: 1;  
  width: 100%;
  z-index: 10px;
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.title {
  font-size: 40px;
}

.btn {
  height: 30px;
  border-radius: 7px;
  border:  solid 2px khaki;
  background-color: rgb(255, 252, 223);
  color: rgb(56, 38, 21);
}

.hero__reg{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  flex-wrap: wrap;
}

.hero__btn{
  width: 150px;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.info__wnd {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 0;
    overflow: hidden;
    min-width: 200px;
    transition: .6s;
    padding: 0px 10px;
}

.info__btn{
    width: 100px;
    background: none;
    border: none;
    border-bottom: rgb(241, 229, 253) solid 3px;
    font-size: 16px;
    padding: 0;
}

.info__btn:hover~.info__wnd{
    min-height: 200px;
    top: 740px;
    padding-top: 5px;
}

.exp {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.exp__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}
.exp__item {
  width: 250px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap ;
}

.helps__content {
  height: 300px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff8df;
}

.helps__container{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.helps__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  flex-wrap: wrap;
}
.helps__item {
  width: calc(30% - 40px);
  height: 100px; 
}

.enroll {
  display: flex;
  flex-direction: column ;
  height: 200px;
  align-items: center;
  justify-content: center;
  border-top: solid 2px rgb(255, 251, 223);
}
.enroll__title {
  padding: 20px 0;
}

.enroll__btn {
  margin: 20px 0;
}

.feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-top: solid 2px rgb(223, 220, 196);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(30% - 40px);
}
.review h3 {
    margin-top: 0;
}

.conn {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: solid 2px rgb(223, 220, 196);
}

.conn__title {
  padding-bottom: 20px;
}

.conn__list {
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 30px;
}
.conn__img {
  width: 50px;
  height: 50px;
}

@media (max-width: 768px) {
    .review {
        width: calc(45% - 40px);
    }
}
@media (max-width: 480px) {
    .review {
        width: calc(100% - 40px);
    }
}

.form {
  padding-top: 100px;
  display: flex;
  left: 650px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  width: 550px;
}

.form__item {
  width: 250px;
}

.datatime{
  display: flex;
  flex-direction: row;
  width: 250px;
}
